# kNN algorithm using python & Scikit Learn

## Import the libraries & dataset Iris from the Kaggle

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
#Using open source dataset from Kaggle 
#give the file path like this one: path = "location of file/Iris.csv"
path = ""
ds = pd.read_csv(path)
#from sklearn.datasets import load_iris
#iris = load_iris()

<h4>Read the first entries</h4>

In [18]:
ds.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

<h5>
    The iloc indexer for Pandas Dataframe is used for integer-location based indexing / selection by position. “iloc” in pandas is used to select rows and columns by number, in the order that they appear in the data frame. </h5>

In [20]:
x = ds.iloc[:,1:5]
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

### Separate the last column name as Species

In [19]:
y = ds.iloc[:,-1]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

### Check the dimension of data set

In [21]:
ds.shape

(150, 6)

### Check the info of data set

In [22]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
np.sqrt(150)

### Apply the knn classifier to classify the data set

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 12)

In [ ]:
knn.fit(x,y)

### Import the train_test_split model of Scikit learn to divide the data into training and test part

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .3)

In [ ]:
knn.fit(x_train, y_train)

### make predictions

In [ ]:
y_test_pred = knn.predict(x_test)
y_test_pred

In [ ]:
prediction_output = pd.DataFrame(data = [y_test_pred, y_test])
prediction_output.transpose()

### Evaluating the Algorithm

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_test_pred))
#print(classification_report(y_test, y_test_pred))

### Check the accuracy of data

In [ ]:
print("Accuracy:", knn.score(x_test,y_test))

### That's all! Last step is just for optional use

### Apply the knn classifier to classify the data set

In [ ]:
for i in range (1,15):
    knn2=KNeighborsClassifier(n_neighbors=i)
    knn2.fit(x_train, y_train)
    print("For k = %d accuracy is"%i,knn2.score(x_test,y_test))